body{
    margin: 0;
    padding: 0;
}

/* navbar */
.logo{
    display: inline;
    float: left;
    font-family: 'Roboto', sans-serif;
font-family: 'Sigmar', cursive;
}
.logo img{
    width: 35px;
    height: 35px;

}
.navbar{
    background-color: white;
    height: 60px;
    /* border: solid 3px; */
    position: relative;
    top: 0px;
    margin-left: 0%;
    width: 100%;
    height: 6vh;
    border-bottom: solid 2px;
}
.navbar ul li{
    list-style: none;
    display: inline;
}
.navbar ul li a{
    text-decoration: none;
    float: right;
    line-height: 15px;
    margin-right: 45px;
    /* margin-top: 10px; */
    font-family: 'Roboto', sans-serif;
font-family: 'Sigmar', cursive;
font-family: 'Ubuntu', sans-serif;
color: black;
font-weight: bold;
font-size: 16px;
}
.navbar ul li a:hover{
    color: red;
}
.Register-btn{
    font-family: 'Roboto', sans-serif;
    font-family: 'Sigmar', cursive;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 16px;
    width: 100px;
    height: 30px;
    margin-top: -7px;
   background-color: black;

}
.Register-btn:hover{
    color: red;
    background-color: thistle;
}

/* navbar end  */
.container{
    background-color: antiquewhite;
    width: 100%;
    height: 80vh;
    margin-top: -20px;
    /* position:absolute; */
    background-image: url(beach.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.abc{
    margin-left: 75px;
    margin-top: 10vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    font-weight: bold;
    color: rgb(252, 250, 255);
}

/* .. */
.flex-ex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 25px;
    margin-top: -10vh;
    margin-left: 80vh;
}
.temp{
    /* position: absolute; */
    background-color: red;
    width: 30vh;
    height: 30vh;
    box-shadow: 5px 5px 10px black;
}
.temp-absolute{
    position: relative;
    margin-top: -9vh;
    margin-left: 32%;
    color: aliceblue;
}

/* .temp:hover{
    opacity: 50%;
} */
.temp img{
    width: 30vh;
    height: 30vh;
}
.beach_data{
    /* background-color: red; */
    width: 100%;
    height: 80vh;
    display: flex;
    column-gap: 25px;
    justify-content: center;
    /* margin-left: 40px; */
    /* margin-top: 100vh; */
    /* position: relative ; */
}
/* .. */
.card{
    width: 400px;
    height: 550px;
    box-shadow:5px 5px 20px 5px black;
    /* background-color: antiquewhite; */
}
.card-head{
    width: 300px;
    height: 250px;
    margin: auto;
    margin-top: 5px;
}
.card-head img{
    width: 300px;
    height: 250px;
}
.card-body{
    width: 350px;
    height: 350px;
    margin: auto;
    text-align: justify;
    overflow: hidden;
    line-height: 15px;
}